body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 60vh;
  width: 100%;
  position: relative;
}
#cy-container{
  text-align: left;
}

.container{
  max-width: 90%;
}

.col{
  text-align: center;
}
